.header {
  background: $roxo;
  padding: 10px;
}

.header-container {
  margin-top: 10px;
}

.logo {
  display: inline-block;
  float: left;
	img {
		padding-top: 5px;
	}
}

.menu ul li{
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.menu ul li a {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  color: $branco;
  @include tipo-2(18);

  &::after {
    content: '';
	  display: block;
	  background: $branco;
	  height: 2px;
	  width: 0;
	  transition: .5s;
  }
  &:hover::after {
    width: 100%;
  }
}

//Search

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
  color: $branco;
	background: url('../img/search-icon.png') no-repeat 9px center;
	padding: 9px 10px 9px 32px;
	width: 55px;
  border: none;
  @include tipo-2(14);
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: $roxo-medio;
  background: url('../img/search-icon-preto.png') no-repeat 9px center;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: $roxo;
}
input::-webkit-input-placeholder {
	color: $roxo;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
  height: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background: #fff url('../img/search-icon-preto.png') no-repeat 9px center;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	// background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}