// Cores
$roxo: #864dd9;
$roxo-medio: #7127ac;
$roxo-escuro: #252742;

$branco: #fff;
$preto: #000;


//Fontes
$fonte: 'Lato', sans-serif;

//Funções
@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

//Mixins
@mixin tipo-1($size) {
  font-family: $fonte;
  font-weight: bold;
  text-transform: uppercase;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
  @else if $size == 24 {
    font-size: em(24);
    line-height: em(36, 24);
  }
  @else if $size == 36 {
    font-size: em(30);
    line-height: em(48, 30);
  }
}

@mixin tipo-2($size) {
  font-family: $fonte;
  @if $size == 14 {
    font-size: em(14);
    line-height: em(20,14);
  }
  @else if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
  @else if $size == 24 {
    font-size: em(24);
    line-height: em(30,24);
  }
}