@import '_reset';
@import '_grid';
@import '_variaveis-mixins';
@import '_menu';

//Estilos Gerais

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.espaco {
  margin-top: 60px;
  margin-bottom: 60px;
}

.titulo {
  color: $roxo-escuro;
  @include tipo-1(36);
  text-align: center;
  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    background: $roxo-escuro;
    width: 60px;
    height: 4px;
    margin: 10px auto;
  }
}

.subtitulo {
  color: $roxo-escuro;
  @include tipo-1(36);
  text-align: left;
  margin-bottom: 30px;

  &::after {
    content: '';
    display: block;
    background: $roxo-escuro;
    width: 60px;
    height: 4px;
    margin: 10px 0px;
  }
}

.menor {
  color: $branco;
  margin-bottom: 15px;
  @include tipo-1(24);
  text-transform: none;
  &::after {
    background: $branco;
  } 
}

.chamada {
  margin-top: 20px;
  p {
    color: $roxo-escuro;
    text-align: center;
    @include tipo-2(18);
    margin-bottom: 15px;
  }
}
//Linhas Divisórias

hr.linha {
  padding: 0px;
  
  display: block;
  height: 8px;
  margin: 0px;
  border-width: 0px;
  width: 100%;
}

.roxo-escura {
  background: $roxo-escuro;
}

.preta {
  background: $preto;
}

//Introdução

.introducao {
	background: $roxo-escuro;
  @include d(s) {
    display: none !important;
  }
}

.introducao img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.intro-mobile {
  display: none;
  background: #ddd8d4 url('../img/introducao-mobile.jpg') no-repeat center;
  width: 100%;
  height: 380px;
  @include d(s) {
    display: block;
  }
}

.lancamento-item {
  box-shadow: 3px 3px 3px #adadad;
}

.lancamento-item img {
 max-width: 100%;
}

.album {
  margin-top: 15px;
  text-align: center;
  color: $roxo-escuro;
  @include tipo-1(18);
  text-transform: none;
}

.albuns {
  margin-top: 15px;
  text-align: left;
  color: $roxo-medio;
  @include tipo-1(18);
  text-transform: none;
}

.artista {
  text-align: center;
  color: $roxo-medio;
  @include tipo-1(18);
  text-transform: none;
}

.artistas {
  text-align: left;
  color: $roxo-escuro;
   @include tipo-1(18);
  text-transform: none;
}

.espaco-mv {
  margin-bottom: 30px;
}

.introducao.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: -21px ;
  position: relative;
}

.introducao.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: left;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: right;
  @include d(s) {
    text-align: center;
  }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $roxo;
}

.owl-theme .owl-dots .owl-dot span {
  background: $cinza;
}

//Botões

.btn {
  text-align: center;
  margin: 0 auto;
  @include tipo-2(18);
  font-weight: bold;
  color: $branco;
  display: block;
  width: 220px;
  height: 60px;
  padding: 15px 10px;
  border-radius: 10px;
  transition: .5s;
}

.btn-roxo {
  background: $roxo-medio;
  &:hover {
    background: #864DD9;
  }
}

.btn-roxo-escuro {
  background: $roxo-escuro;
  &:hover {
    background: #864DD9;
  }
}

.btn-carrinho {
  @include tipo-1(14);
  padding: 10px;
  height: 40px;
  background: $roxo-medio;
  margin: 0px;
  cursor: pointer;
  &:hover {
    background: $roxo-escuro;
  }
  @include d(s) {
    height: 55px;
  }
}

//Banners

.banner {
  width: 100%;
  height: 450px;
  @include d(s) {
    height: 380px;
  }
}

.kard {
  background: url("../img/banner-kard.jpg") no-repeat center;
  background-size: cover;
  @include d(s) {
     background: url("../img/kard-mobile.jpg") no-repeat center;
  }
}

.hugh-laurie {
  background: url("../img/hugh-laurie.jpg") no-repeat center;
  background-size: cover;

  @include d(s) {
    background: $preto url("../img/hugh-laurie-mobile.jpg") no-repeat center;
  }
}

.banner-final {
  background: url("../img/banner-final.jpg") no-repeat center;
  background-size: cover;
  height: 300px;
  
  h1 {
    padding-top: 30px;
    text-transform: none;
  }
}

//Footer

.footer {
  background: $roxo-escuro;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    @include tipo-2(14);
    color: $branco;
  }
  div div {
    @include d(s) {
      margin-bottom: 20px;
    }
  }
  @include d(s) {
    padding-bottom: 0px;
  }
}

.redes {
  display: inline-block;
  margin-left: 5px;
  img {
    padding: 5px;
  }
}

.sub-footer {
  font-family: $fonte;
  font-size: em(14, 16);
  background: $roxo-escuro;
  padding: 20px;
  color: $branco;
  text-align: left;
  @include d(s) {
    font-size: em(14, 16);
    color: $branco;
  }
  p {
    margin-left: 10px;
  }
}

//Modais

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity:1;
  pointer-events: auto;
}

.modal > div {
  max-height: calc(100vh - 35px);
  overflow-y: auto;
  width:70%;
  position: relative;
  margin: 30px auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #eeeeee);
  background: -webkit-linear-gradient(#fff, #eeeeee);
  background: -o-linear-gradient(#fff, #eeeeee);
  @include d(s) {
    width: 90%;
  }
}

.fechar {
  font-family: $fonte;
  font-size: em(24, 16);
  color: $cinza;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 5px;
  width: 25px;
  text-decoration: none;
  font-weight: bold;
}

.fechar:hover { 
  color: $roxo-medio;
}

.lista-musicas {
  display: flex;
  justify-content: center;
}

.lista-musicas ul {
  display: inline-block;
  &::nth-child(1) {
    color: blue !important;
  }
}

.lista-musicas ul li {
  @include d(l) {
    width: 400px;
  }
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #cbcbcd;
  @include tipo-2(14);
  color: $roxo-escuro;
  margin-right: 10px;

  &:last-child {
    border: none;
  }
}

.titulo-album {
  @include tipo-1(14);
  color: $roxo-medio;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-menu {
  justify-content: flex-end;
}

.info-album {
  margin-top: 30px;
  margin-bottom: 20px;
  @include d(s) {
    justify-content: center;
  }
}

.preco {
  margin-left: 10px;
  @include tipo-1(24);
  color: $roxo-escuro;
  @include d(m) {
    margin-bottom: 20px;
  }
  @include d(s) {
    margin-bottom: 20px;
  }
  sup {
    margin-right: 5px;
  }
}